
body {
    background-image: url(imgs/background.jpg);
    background-attachment: fixed;
    margin: auto;
    padding: 1%;
    text-align: center;
}

div {
    padding: 1%;
    background-color: hsla(0, 0%, 100%, 0.3);
}

h1 {
    text-align: center;
    text-decoration: solid;
    padding: 0.5%;
}

h2 {
    text-decoration: solid;
    color:  rgb(229, 95, 95);
}

h2.head {
    background-color: rgb(229, 95, 95);
    padding: 1.5%;
    color: white;
}

h4 {
    background-color: rgb(229, 95, 95);
    padding: 1.5%;
    color: white;
}

p {
    text-decoration: solid;
}

a {
    padding: 1%;
    color: white;
}

a:hover {
    color: rgb(255, 196, 196);
}

a.contact {
    color: black;
}

.skills {
    text-align: left;
}

span {
    color: rgb(229, 95, 95);
}

img {
    display: block;
    margin: auto;
    width: 15%;
}


.roboto-1 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-2 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-p {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-s {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



